<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SERVER_PASSWORD" value="kn20_mv" />
		<add key="SERVER_USERNAME" value="sqlkn20_2_mv" />
		<add key="SERVER_IP" value="193.93.216.145" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>